@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  --blue: #eaf0f8;
}

body {
  margin: 0;
  background: var(--blue);
  font-family: "Roboto", sans-serif;
}

.songplayer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.header .title {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header .title p {
  text-transform: uppercase;
  font-weight: 700;
}

.cards {
  overflow-x: scroll;
}

.cards .container-cards {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  white-space: nowrap;
  padding: 20px 65px;
}

.cards .container-cards .song {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    -10px -10px 15px 0px rgba(255, 255, 255, 0.5),
    10px 10px 15px 0px rgba(0, 0, 0, 0.25);
  background: #4bc29f;
}

.cards .container-cards .song img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.song-description {
  height: 160px;
  padding: 18px 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-description p {
  margin: 0;
  text-align: center;
  font-style: normal;
  line-height: normal;
}

.song-description .song-title {
  margin: 18px 0 14px;
  font-size: 22px;
  font-weight: 700;
}

.song-description .song-artist {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 400;
}

.song-progress {
  position: relative;
}

.progress-bar {
  width: 280px;
  height: 14px;
  background: #c4c4c4;
  position: relative;
}

.progress-bar span {
  width: 215px;
  height: 14px;
  background: #4bc29f;
  position: absolute;
}

.song-progress .song-status {
  position: absolute;
  top: 20px;
  font-weight: 700;
}

.song-progress .song-init {
  left: -10px;
}

.song-progress .song-end {
  right: -10px;
}

.buttons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 24px 16px;
  height: 62px;
}

.btn {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #4bc29f;
}

.btn:nth-child(3) {
  width: 65px;
  height: 65px;
}

.btn:nth-child(3) img {
  width: 50px;
}

.btn:nth-child(2) img {
  margin-right: 2px;
}

.btn:nth-child(4) img {
  margin-right: 4px;
}

.btn.next,
.btn.forward {
  transform: rotate(180deg);
}
