.song-progress {
  position: relative;
  display: flex;
  justify-content: center;
}

.progress-bar {
  width: 280px;
  height: 14px;
  background: #c4c4c4;
  position: relative;
}

.progress-bar span {
  width: 215px;
  height: 14px;
  background: #4bc29f;
  position: absolute;
}

.song-progress .song-status {
  position: absolute;
  top: 20px;
  font-weight: 700;
}

.song-progress .song-init {
  left: -10px;
}

.song-progress .song-end {
  right: -10px;
}
